<div class="hidden">
    <h2 class="text-center">Dmitriy Vetrov</h2>

    <div class="row">
        <div class="col-sm-6">
            <address>
                <strong>My Location</strong><br>
                Kyiv, Ukraine<br>
                Yakira Street<br>
                <abbr title="Phone">Phone:</abbr> +38 (066) 654-3017
            </address>
        </div>
        <div class="col-sm-6 text-right">
            <address>
                <strong>Dmitriy Vetrov</strong><br>
                E-mail: <a href="mailto:Dmitriy.Vetrov@gmail.com">Dmitriy.Vetrov@gmail.com</a> <br>
                Skype: <a href="Dmitriy.Vetrov">Dmitriy.Vetrov</a>
            </address>
        </div>
    </div>

    <p>
        <div class="lead">Summary</div>
        <ul>
            <li>Basic object-oriented analysis and design skills</li>
            <li>Over half of year experience in C# development</li>
            <li>Basic knowledge of the .NET  techniques and princioles</li>
            <li>Basic experience in browsing and understanding legacy code</li>
            <li>Self-motivated, result-oriented, able to work effectively in team environment</li>
        </ul>
    </p>


    <p>
        <div class="lead">Experience</div>
        <ul class="list-unstyled">
            <li>
                2014 - now<br>

            </li>
            <li>
                2013 - 2014<br>

            </li>
            <li>
                2010 - 2013<br>

            </li>
        </ul>
    </p>

    <p>
        <span class="lead">Education</span>
        <div class="row">
            <div class="col-sm-6">
                State University of Informatics and Artificial Intelligence<br>
                <i>Specialist of Science, Software Ingineer</i>
            </div>
            <div class="col-sm-6">2003-2004</div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                State University of Informatics and Artificial Intelligence<br>
                <i>Bachelor of Science, Software Ingineer</i>
            </div>
            <div class="col-sm-6">1999-2003</div>
        </div>
    </p>

    <p>
        <div class="lead">Skills</div>
        C#, .NET, T-SQL, ASP.NET MVC, Entity Framework, LINQ, XML, Bootstrap, AJAX, HTML/CSS
    </p>


    <hr>
</div>
<h2>About </h2>

<dl class="dl-horizontal">

    <dt>Introduction</dt>
    <dd>
        <p>
            Interested in the development of modern information systems.  <br>
            Today Internet allows sharing information around the world and <br>
            I'll be happy to help to reach your potential consumers.
        </p>
    </dd>

    <dt>What do I know?</dt>
    <dd>
        <p>
            I have about ten years of experience in implementation of management and accounting informational systems. <br>
            Have hands-on experience with <abbr title="Structured Query Language">SQL</abbr>. <br>
            Understanding of object-oriented programming principles. <br>
            Initial level of knowledge of C# <br>
            Basic use of ASP.NET MVC, Entity Framework, AJAX, Bootstrap, HTML / CSS
        </p>
    </dd>

    <dt>What I can do for you</dt>
    <dd>
        <p>
            I will be happy to develop for you a web application such as the account of customer orders, costing, <abbr title="Client Relationship Managment" class="initialism">CRM</abbr>, etc. <br>
            I will listen to your needs and wishes. Responsibly come to the stated estimations and will always be in touch.
        </p>
    </dd>

    <dt>What to do now</dt>
    <dd>
        <p>
            Currently I am completing work on a demo task, which is presented in this Web application. <br>
            Turn to a more applied task – customer management for dental clinic. <br>
            It will contain entity: Patient, Patient profile, Tooth map, Document of patient’s visit. Photo-album as a supplement to the tooth map. User authentication - for doctors.
                
            Also in parallel I’m working on development of application model’s framework for the construction of a universal information system. Next templates will be implemented:
            <ul>
                <li> document for posting data on registers, catalogs for reference information </li>
                <li> register for calculating cumulative information </li>
                <li> register for storing and retrieving data in chronological order </li>
                <li> tool for building reports</li>
            </ul>

</p>
    </dd>

</dl>
