
<h2>Contact </h2>

<address>
    Contact to any Time<br />
    Kyiv, Ukraine<br />
    <abbr title="Phone">P:</abbr>
    +38 (066) 654 30 17
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:dmitriy@vetrov.net.ua">Dmitriy@Vetrov.net.ua</a><br/>
    <strong>Skype:</strong> Dmitriy.Vetrov<br/>
</address>